
.titulo{
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.texto{
  font-size: medium;
  justify-content: center;
  border: 1px solid black;
  padding:1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: aqua;
  font-weight:normal
}
.lista{
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.card{
  margin-top: 3rem;
  padding:1rem;
}